<div class="center">
    <img src="assets\images\loginimage.png" alt="Cant show image :(">
    <form class="form-group col">
       
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">{{labels.sesion}}</button>
            <button type="submit" class="btn btn-primary">{{labels.contrasena}}</button>
        </div>
    </form>
</div>
