<div class="center">
    <img src="assets\images\loginimage.png" alt="Cant show image :(" >
    <form [formGroup]="form" class="form-group col">
       
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" formControlName="username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password" aria-describedby="basic-addon1">
        </div>
        <div>
            <button type="button" class="btn btn-primary" (click)="submitForm()">{{labels.sesion}}</button>
            <button type="button" class="btn btn-primary">{{labels.contrasena}}</button>
        </div>
    </form>
</div>
